body {
  margin: 0;
  font-family: 'Muli', 'Roboto', 'Oxygen', 'Droid Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3D6053;
  font-size: 20px;
}
html, body, #root {
  height: 100%;
}

p {
  color: #A8C7BB;
}

input, select, textarea {
  border: 1px solid #A8C7BB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-size: 18px;
  padding: 3px 7px;
  color: #3D6053;
  outline: none;
  font-family: 'Muli', 'Roboto', 'Oxygen', 'Droid Sans', sans-serif;
}
input[type=checkbox] {
  width: 20px;
  height: 20px;
}
textarea {
  width: 100%;
  height: 75px;
}

/* OVAL CHECKBOX */
input[type=checkbox].oval {
  visibility: hidden;
}
label.oval-toggler {
  width: 70px;
  height: 40px;
  position: relative;
  display: block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  background: #FFF;
}
label.oval-toggler::after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background: #AAA;
  position: absolute;
  top: 2.5px;
  left: 2px;
  transition: all 0.1s ease-out;
}
input[type=checkbox]:checked + label.oval-toggler::after {
  left: 33px;
  background: #D2A297;
}

#header {
  width: 100%;
  background-color: #A8C7BB;
  border-radius: 0px 0px 0px 200px;
  font-weight: bold;
}

#app-header {
  width: 20%;
  display: inline-block;
  height: 100%;
  font-weight: bold;
}

#app-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  background-color: #A8C7BB;
  border-radius: 0px 0px 0px 200px;
  color: #FFF;
  min-height: 80%;
  margin-bottom: 100px;
}
#app-container p {
  color: #FFF;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #F33;
}

.nav {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.nav a {
  font-size: 20px;
  margin: 10px;
  color: #3D6053;
}
.nav a:hover {
  color: #FFF;
}

.app-nav {
  width: 70%;
  margin: 0 auto;
  margin-top: 150px;
}
.app-nav a {
  display: block;
  margin: 20px 0;
  font-size: 22px;
}

button {
  background: #D2A297;
  border-radius: 10px;
  color: #FFF;
  padding: 12px 15px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  outline: none;
}

button.inverted {
  background: #FFF;
  border: 1px solid #D2A297;
  color: #D2A297;
}

.notification {
  background: rgba(210, 162, 151, 0.7);
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 18px;
}
.notification a {
  color: #3D6053;
}
.notification a:hover {
  color: #FFF;
}

.popup-background {
  position: fixed;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  z-index: 1;
}

.popup {
  display: inline-block;
  position: relative;
  background: #FFF;
  border-radius: 10px;
  padding: 20px;
  top: 50%;
  transform: translateY(-60%);
}
.popup p {
  color: #A8C7BB !important;
}

.same-rows p {
  display: flex;
  justify-content: space-between;
}
.same-rows input, .same-rows select {
  box-sizing: content-box;
  margin-left: 10px;
  width: 75px;
  text-align: center;
}

p.row span {
  display: inline-block;
  margin: 10px;
}

.chart-card {
  display: inline-block;
  position: relative;
  background-color: #FFF;
  width: 250px;
  height: 150px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  transition: background-color 0.1s ease-out;
  cursor: pointer;
}
.chart-card svg {
  position: absolute;
  right: 15px;
  top: 15px;
}
.chart-card:hover {
  background-color: #F4F4F4;
}